<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <servlet>
        <servlet-name>RequestQuestions</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.RequestQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.CreateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin Console</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.AdminConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test Setup</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.TestSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test Process</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.TestProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit Question</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.EditQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update Question</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.UpdateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update Question Result</servlet-name>
        <servlet-class>com.gorbich.proco.servlet.UpdateQuestionResult</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestQuestions</servlet-name>
        <url-pattern>/admin/questions-all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/admin/question-new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/admin/question-add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin Console</servlet-name>
        <url-pattern>/admin/console</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test Setup</servlet-name>
        <url-pattern>/test-setup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test Process</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit Question</servlet-name>
        <url-pattern>/admin/edit-question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update Question</servlet-name>
        <url-pattern>/admin/question-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update Question Result</servlet-name>
        <url-pattern>/admin/update-question</url-pattern>
    </servlet-mapping>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/admin-login.jsp</form-login-page>
            <form-error-page>/admin-loginfail.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Administrator's Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>